{% extends 'base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div style="padding-bottom: 30px; color: blue;">
        <h1>Login Form</h1>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>User Name</label>
            <input type="text" class="form-control" name = "username">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </div>
    <h3> Don't Have Account??<a href="/register">&nbsp;Sign Up</a></h3>	
</form>
<div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>

{% endblock %}
