{% extends 'watch/base.html' %}

{% block content %}

<form>
    <div style="padding-bottom: 30px; color: blue;">
        <h1>Login Form</h1>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Email Address</label>
            <input type="email" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
          <label>Password</label>
          <input type="password" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </div>
</form>

{% endblock %}